# CollectWeather

Este notebook conecta a MySQL y sube un DataFrame `weather_data` a la base `gans`.

**Notas:** Ajusta las credenciales de la conexi贸n antes de ejecutar.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

# Ajusta estos valores a tu entorno
user = os.getenv('MYSQL_USER','root')
password = os.getenv('MYSQL_PASSWORD','admin123')
host = os.getenv('MYSQL_HOST','localhost')
port = os.getenv('MYSQL_PORT','3306')
database = 'gans'

engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}')


# Simulamos un DataFrame `weather_data` (reemplaza por tu DataFrame real)
weather_data = pd.DataFrame([
    {'city':'SampleCity','date':'2025-10-01','temp_c':22.5,'precip_mm':0.0},
    {'city':'SampleCity','date':'2025-10-02','temp_c':21.0,'precip_mm':1.2}
])

# Exportar a MySQL (si la tabla existe, la reemplazamos para prop贸sitos de demostraci贸n)
weather_data.to_sql('weather_data', con=engine, if_exists='replace', index=False)
print('Datos subidos a weather_data')

Datos subidos a weather_data

In [2]:
# Consulta de verificaci贸n
import sqlalchemy
with engine.connect() as conn:
    result = conn.execute(sqlalchemy.text('SELECT * FROM weather_data;'))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
df

         city        date  temp_c  precip_mm
0  SampleCity  2025-10-01    22.5        0.0
1  SampleCity  2025-10-02    21.0        1.2