# Collect_flights

Conecta a MySQL y sube el DataFrame `flight_arrival` a la base `gans`. Ajusta credenciales antes de ejecutar.

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import os

user = os.getenv('MYSQL_USER','root')
password = os.getenv('MYSQL_PASSWORD','admin123')
host = os.getenv('MYSQL_HOST','localhost')
port = os.getenv('MYSQL_PORT','3306')
database = 'gans'

engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}')

# Simulamos un DataFrame `flight_arrival`
flight_arrival = pd.DataFrame([
    {'flight_id':'AM123','airport_code':'MEX','arrival_time':'2025-10-01 08:30:00','status':'arrived'},
    {'flight_id':'LA456','airport_code':'MEX','arrival_time':'2025-10-01 09:10:00','status':'arrived'}
])

flight_arrival.to_sql('flight_arrival', con=engine, if_exists='replace', index=False)
print('Datos subidos a flight_arrival')

Datos subidos a flight_arrival

In [3]:
# Consulta de verificaci√≥n
import sqlalchemy
with engine.connect() as conn:
    result = conn.execute(sqlalchemy.text('SELECT * FROM flight_arrival;'))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
df

  flight_id airport_code         arrival_time   status
0     AM123          MEX  2025-10-01 08:30:00  arrived
1     LA456          MEX  2025-10-01 09:10:00  arrived